{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}

<h2 style="text-align: center; color: white;">Ficha producto</h2>

<div class="ficha-producto">
    <img src="/media/{{ imagen }}" class="imagen-producto col-sm-12 col-md-6 col-lg-4 col-xl-3" >
    <div class="informacion-producto">
        <p class="nombre-producto"><strong>{{ nombre }}</strong></p>
        <p class="stock-disponible">Stock disponible: {{ html_estado|safe }}</p>
        <p class="precio"><strong>Precio: {{ html_precio|safe }}</strong></p>
        <p class="descripcion">Descripción: {{ descripcion }}</p>
        <button class="comprar-ahora">Comprar ahora</button>
        <button class="agregar-carrito">Agregar al carrito</button>
    </div>
</div>

<form method="post" id="formulario-ficha">
    {% csrf_token %}


</form>

{% endblock content %}

{% block script %}
    <script src="{% static 'core/js/ficha.js' %}"></script>
{% endblock script %}
